<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Type ISBN</h1>
    <div class="row">

    <form action="#" th:action="@{/saveBook}" th:object="${isbn}" method="post">
        <label for="isbn">ISBN</label><br>
        <input type="text" id="isbn" name="isbn"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
</body>
</html>