<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <button type="button" class="btn btn-link" th:href ="@{/}">Books List</button>
        <div class="row">
            <div class="col-md-6">
                <table >
                    <thead>
                    <tr>
                        <th>Author Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="author:${authors}">
                            <td th:text="${author.name}"></td>
                            <td><button type="button" class="btn btn-info" th:href="@{/showFormForAuthorUpdate/{id}(id=${author.id})}">Update</button></td>
                            <td><button type="button" class="btn btn-danger" th:href="@{/deleteBook/{id}(id=${book.id})}">Delete</button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>
</html>