<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href ="@{/}">Books List</a>
<table >
    <thead>
    <tr>
        <th>Author Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="author:${authors}">
            <td th:text="${author.name}"></td>
            <td><a th:href="@{/showFormForAuthorUpdate/{id}(id=${author.id})}">Update</a></td>
            <td><a th:href="@{/deleteBook/{id}(id=${book.id})}">Delete</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>