<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<table >
    <thead>
    <tr>
        <th>Book Name</th>
        <th>Authors Name</th>
        <th>ISBN</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="book:${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
        </tr>
    </tbody>

</table>
</body>
</html>