<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href ="@{/addBook}">Add Book</a>
<a th:href ="@{/authors}">Authors List</a>
<table >
    <thead>
    <tr>
        <th>Book Name</th>
        <th>Authors Name</th>
        <th>ISBN</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="book:${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td><a th:href="@{/showFormForUpdate/{id}(id=${book.id})}">Update</a></td>
            <td><a th:href="@{/deleteBook/{id}(id=${book.id})}">Delete</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>