<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{loaneesTitle.text}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a  class="btn btn-link" th:href ="@{/}" th:text="#{booksList.text}"></a>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover table-responsive-md">
                <thead>
                <tr>
                    <th th:text="#{authorName.text}"></th>
                    <th th:text="#{actions.text}"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="loanee:${loanees}">
                    <td th:text="${loanee.name}" th:href="@{/loanedBooksListByLoanee/{id}(id={loanee.getId})}"></td>

                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

</body>
</html>