<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{updateBook.text}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<hr>
    <h2 th:text="#{updateBook.text}"></h2>
<form action="#" th:action="@{/updateBook}" th:object="${book}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label th:text="Title.text"></label>
    <input type="text" th:field="*{title}" th:label="Title">
    <label th:text="Author.text"></label>
    <input type="text" th:field="*{author}" th:label="Author">
    <label th:text="isbn.text"></label>
    <input type="text" th:field="*{isbn}" th:label="ISBN">
    <label th:text="Publisher.text"></label>
    <input type="text" th:field="*{publisher}" th:label="Publisher">
    <label th:text="PublishedYear.text"></label>
    <input type="number" th:field="*{publishedYear}" th:label="PublishedYear">
    <button type="submit" th:text="#{updateBook.text}"></button>
</form>
</hr>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<span th:text="#{lang.change}"></span>
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="pl" th:text="#{lang.pl}"></option>
</select>
</body>
</html>