<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{updateBook.text}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<hr>
    <h2 th:text="#{updateBook.text}"></h2>
<form action="#" th:action="@{/updateBook}" th:object="${book}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label th:text="Title.text"></label>
    <input type="text" th:field="*{title}" th:label="Title">
    <input type="text" th:field="*{author}" th:label="Author">
    <input type="text" th:field="*{isbn}" th:label="ISBN">
    <input type="text" th:field="*{publisher}" th:label="Publisher">
    <input type="number" th:field="*{publishedYear}" th:label="PublishedYear">
    <button type="submit" th:text="#{updateBook.text}"></button>
</form>
</hr>

</body>
</html>